.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.form__input{
    max-width: 100%;
    padding: 10px 10px;
}

.form__button{
    padding: 10px 0;
    border: 1px solid #551a8B;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}