.tabs__container{
    max-width: 500px;
	min-height: 16em;
	margin: 1em auto 0;
}

.tabs__list{
    list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

.tab{
	cursor: pointer;
	position: relative;
	display: block;
	margin: 0 -1px 0 0;
	padding: 7px 20px 8px;
	border: solid #ecf0f1;
	border-width: 1px 1px 0;
	background: #f5f7fa;
	font-size: 19px;
}

.tab:hover{
    background-color: #ecf0f1;
}

.tab--active{
    background-color: #fff;
	color: black;
	pointer-events: none;
}

.content {
	display: none;
	padding: 3em;
	background-color: #fff;
}

.content--active {
	display: block;
}

.content__text{
    font-weight: 300;
	margin: 20px 0;
}